.heading {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    text-align: center;  
}

.slider {
    max-width: 500px;
    width: 100%;    
    margin: 1rem auto 3rem auto;    
}

.slider__container {
    width: 100%;
    height: 100%;
}

.slider__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.slider__controls {
    padding-top: 1rem;
    text-align: center;
}

.slider__dots,
.slider__dot_3s {
    padding: 1rem 0;
    text-align: center;
}

.slider__dot,
.slider__dot_3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(223, 137, 137);
    border-radius: 50%;
    display: inline-block;
}

.slider__dot.active,
.slider__dot:hover,
.slider__dot_3.active,
.slider__dot_3:hover {
   background-color: #e43434;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.slider__nav {
    cursor: pointer;
}
